<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="JavaProjektPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.kvlahov.models.LoginInfoes</class>
    <class>com.kvlahov.models.Categories</class>
    <class>com.kvlahov.models.ShippingInfoes</class>
    <class>com.kvlahov.models.Currencies</class>
    <class>com.kvlahov.models.PaymentMethods</class>
    <class>com.kvlahov.models.Roles</class>
    <class>com.kvlahov.models.ReceiptItem</class>
    <class>com.kvlahov.models.Items</class>
    <class>com.kvlahov.models.Receipt</class>
    <class>com.kvlahov.models.Users_old</class>
    <class>com.kvlahov.models.Users</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://ec2-54-247-89-181.eu-west-1.compute.amazonaws.com:5432/d6m4g3ci2e6aa2?sslmode=require&amp;user=ehtlcvtxxqsyqr&amp;password=a9cdbea8f3406c99e2deb2055f81b9e4cf24f72d801b550a523d734799ad8ef8"/>
      <property name="javax.persistence.jdbc.user" value="ehtlcvtxxqsyqr"/>
      <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
      <property name="javax.persistence.jdbc.password" value="a9cdbea8f3406c99e2deb2055f81b9e4cf24f72d801b550a523d734799ad8ef8"/>
    </properties>
  </persistence-unit>
</persistence>
